body{
    margin: 0;
}
h1{
    font-size: 25px;
}
.header{
    max-width: 100%;
    background-color: black;
    padding: 0 160px;
}
.menu{
    display: flex;
    width: 100%;
}
.menu button{
    margin: 20px;
    background-color: black;
    color: #ffff;
    border: none;
    outline: none;
    cursor: pointer;
}
.content{
    padding: 20px;
}
.admin_text{
    margin: 50px;
}
.login{
    margin:0 auto;
    text-align: center;
    margin-top: 100px;
}